.data-container{
display: inline-block;
margin: 30px;
overflow: hidden;
border-style: double;
border-color: darkred;
box-shadow: 5px 5px 15px -5px black;
z-index: 1;
text-align: center;
}
.img_Bike{
    width: 350px;
    height: 300px;
    transition: all 1.5s ease;
    /* margin-top: 10px; */
}
img:hover{
transform: scale(1.19);
}
.head{
    background-color: rgb(26, 51, 2);
    color: rgb(223, 219, 219);
    font-size: 25px;
}
.head:hover{
    background-color: darkgrey;
    color:rgb(26, 51, 2) ;
}