.data-container{
display: inline-block;
margin: 30px;
overflow: hidden;
border-style: double;
border-color: darkred;
}
.img_Bike{
    width: 350px;
    height: 300px;
    box-shadow: 5px 5px 10px -5px black;
    transition: all 1.5s ease;
    margin-top: 10px;
}
img:hover{
transform: scale(1.15);
}
h3{
    background-color: rgb(26, 51, 2);
    color: rgb(223, 219, 219);
    font-size: 25px;
}
h3:hover{
    background-color: darkgrey;
    color:rgb(26, 51, 2) ;
}