.Acad_Heading{
    background-color: green;
    font-weight: bold;
}
.student_input{
    border: none;
    border-bottom: 1px solid black;
    width: 800px;
    /* display: block; */
    margin-left: 100px;
    padding: 10px;
}
.input_inline{
    border: none;
    border-bottom: 1px solid black;

}