.main_div{
    margin: 5%;
    margin-left: 55px;
    width: 90%;
    height: 90vh;
    background-color: #badc58;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: outset;

}
.center_div{
    width: 25%;
    height: 60vh;
    background-color: #f4f4f4;
    box-shadow: 5px 5px 25px -5px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
