.backg{
    width: 650px;
    margin: auto;
    
}
.slick-next:before{
    color: black;
}
.slick-prev:before{
    color: black;

}
.picSize{
    margin: auto;
    height: 400px;
    width: 600px;
    margin-top: 10%;
    box-shadow: 2px 2px 5px -7px rgb(15, 15, 15);
}